{% extends 'base.html' %}
{% load static %}

{% block title %}
   Accounts List
{% endblock  %}

{% block css_files %}
<link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&family=Orbitron&family=Source+Code+Pro&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'accounts/credit-card.css' %}">
{% endblock  %}

{% block content %}
<div class="container-fluid mt-2 ">
   <div class="card rounded-4 shadow-lg mx-1">
       <div class="card-body">
            {% for account in all_accounts %}
                {% include "accounts/includes/credit-card.html" %}
            {% endfor %}
       </div>
   </div>
</div>
{% endblock %}