{% extends 'base.html' %}
{% load static %}

{% block title %}
   Home
{% endblock  %}

{% block content %}
<div class="container-fluid mt-2 ">
   <div class="card rounded-4 shadow-lg ms-2 me-2">
       <div class="card-body">
        <div class="card text-center" >
            <div class="card-body">
               <h2 class="card-title mb-4">Home page</h2>
               <div class="row justify-content-center">
                  <div class="col-md-4">
                     <a type="button" class="btn btn-outline-success rounded-4" href="{% url 'accounts-list' %}"  style="--bs-btn-padding-y: 1.5rem; --bs-btn-padding-x: 2rem; --bs-btn-font-size: 5rem;">Accounts List</a>
                  </div>
               </div>
            </div>
          </div>
       </div>
   </div>
</div>
{% endblock %}