{% extends 'base.html' %}
{% load static %}

{% block title %}
   Accounts List
{% endblock  %}

{% block css_files %}
<link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&family=Orbitron&family=Source+Code+Pro&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'accounts/credit-card.css' %}">
{% endblock  %}

{% block content %}
<div class="container-fluid mt-2 ">
   <div class="card rounded-4 shadow-lg ms-2 me-2">
       <div class="card-body">
        <div class="row justify-content-end">
          <div class="col-md-1 d-grid gap-2 d-md-flex justify-content-md-end">
            <a class="btn btn-primary" href="{% url 'edit-account-page' account.slug %}">Edit</a>
          </div>
          <div class="col-md-1">
            <a class="btn btn-danger" href="{% url 'delete-account-page' account.slug %}">Delete</a>
          </div>
        </div>
        
        <div class="row">
            <div class="col-md-5">
              <a href = "{% url 'single-account-page' account.slug %}">
              <div class="credit-card">
                  <h3 class="bank">{{ account.curency.abbreviation }}</h3>
                  <img src="{% static 'accounts/images/chip.png' %}" class="chip" />
                  <img src="{% static 'accounts/images/contactless-indicator.png' %}" class="indicator" />
                  <h3 class="number">{{ account.number }}</h3>
                  <h5 class="card-holder">
                      <span>Card holder</span><br />
                      {{ account.name }}
                  </h5>
                  <h5 class="valid"><span>Amount</span><br />{{ account.amount }}</h5>
                  <img src="{% static 'accounts/images/visa.png' %}" class="logo" />
              </div>
              </a>
                    
            </div>
            <div class="col-md-7">
                {% for log in logs %}
                    {{ log.old_amount }}
                    {{ log.created_at }}
                
                {% endfor %}

                {{amounts}}
            </div>
        </div>

        


        <div class="row">
            <div class="col-md-5">
                <div>
                    <canvas id="myChart"></canvas>
                  </div>
            </div>
        </div>


       </div>
   </div>
</div>


    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
  const ctx = document.getElementById('myChart');
  const xValues = {{ dates }};
  const yValues = {{ amounts }};

  new Chart("myChart", {
    type: "line",
    data: {
      labels: xValues,
      datasets: [{
        fill: false,
        lineTension: 0,
        backgroundColor: "rgba(0,0,255,1.0)",
        borderColor: "rgba(0,0,255,0.1)",
        data: yValues
      }]
    },
    options: {
      legend: {display: false},
      scales: {
        yAxes: [{ticks: {min: 6, max:16}}],
      }
    }
  });


</script>

{% endblock %}