{% extends 'base.html' %}
{% load static %}

{% block title %}
   Accounts List
{% endblock  %}

{% block css_files %}
<link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&family=Orbitron&family=Source+Code+Pro&display=swap" rel="stylesheet">
{% endblock  %}

{% block content %}
<div class="container-fluid mt-2 ">
   <div class="card rounded-4 shadow-lg mx-1">
       <div class="card-body">

        <div class="row mb-3">
          <div class="col-md-7 mb-3">
            {% include "accounts/includes/detail-card.html" %}
          </div>
          <div class="col-md-5">
            {% include "accounts/includes/actions-card.html" %}
          </div>
        </div>

        <div class="row">
          <div class="col-md-7 mb-3">
            {% include "accounts/includes/graph-card.html" %}
          </div>
          <div class="col-md-5">
            {% include "accounts/includes/logs-card.html" %}
          </div>
        </div>
       </div>
   </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
  const ctx = document.getElementById('myChart');
  const xValues = {{ dates }};
  const yValues = {{ amounts }};

  new Chart("myChart", {
    type: "line",
    data: {
      labels: xValues,
      datasets: [{
        fill: false,
        lineTension: 0,
        backgroundColor: "rgba(0,0,255,1.0)",
        borderColor: "rgba(0,0,255,0.1)",
        data: yValues
      }]
    },
    options: {
      legend: {display: false},
      scales: {
        yAxes: [{ticks: {min: 6, max:16}}],
      }
    }
  });
</script>




{% endblock %}