
.credit-card {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 26vw;
  aspect-ratio: 158 / 100;
  position: relative;
  background: linear-gradient(to bottom right, var(--bs-dark),var(--bs-danger));
  border-top: 0.1vw solid #eeeded70;
  border-left: 0.1vw solid #eeeded70;
  border-radius: 2vw;
  backdrop-filter: blur(2vw);
  box-shadow: 0 1.5vw 2.5vw rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.bank {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #ffffff;
  font-size: 2vw;
  font-family: "Mulish", sans-serif;
  position: absolute;
  top: 1vw;
  right: 1vw;
}

.chip {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 2.4vw;
  position: absolute;
  top: 5vw;
  left: 1.7vw;
}

.indicator {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 2.4vw;
  position: absolute;
  top: 5vw;
  left: 5vw;
}

.number {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #ffffff;
  font-size: 1.7vw;
  font-family: 'Orbitron', sans-serif;
  font-weight: 100;
  position: absolute;
  bottom: 5vw;
  left: 1.7vw;
}

.card-holder {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #ffffff;
  font-size: 0.7vw;
  font-family: cursive;
  font-weight: 700;
  position: absolute;
  bottom: 1.5vw;
  left: 1.7vw;
  text-transform: uppercase;
}

.card-holder span {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 0.5vw;
  font-family: "Mulish", sans-serif;
  font-weight: 400;
}

.valid {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #ffffff;
  font-size: 0.9vw;
  font-family: 'Orbitron', sans-serif;
  font-weight: 400;
  position: absolute;
  bottom: 1.5vw;
  left: 11vw;
  text-transform: uppercase;
}

.valid span {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 0.5vw;
  font-family: "Mulish", sans-serif;
  font-weight: 400;
}

.logo {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 4vw;
  position: absolute;
  right: 1.7vw;
  bottom: 1.5vw;
}


/* @media only screen and (max-width: 768px){
  .credit-card {
    width: 80vw;
  }

} */