{% load static %}
<!-- <div class="row mb-3">
  <div class="col-md-4">
    <a href = "{% url 'single-account-page' account.slug %}">
      <div class="credit-card">
          <h3 class="bank">{{ account.curency.abbreviation }}</h3>
          <img src="{% static 'accounts/images/chip.png' %}" class="chip" />
          <img src="{% static 'accounts/images/contactless-indicator.png' %}" class="indicator" />
          <h3 class="number">{{ account.number }}</h3>
          <h5 class="card-holder">
            <span>Card holder</span><br />
            {{ account.name }}
          </h5>
          <h5 class="valid"><span>Amount</span><br />{{ account.amount }}</h5>
          <img src="{% static 'accounts/images/visa.png' %}" class="logo" />
      </div>
    </a>
</div>
</div> -->

<div class="row mb-3">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <div class="row justify-content-between">
          <div class="col-8 text-truncate">{{ account.name }} {{ account.curency.abbreviation }}</div>
          <div class="col-4 text-end">

                <a href="{% url 'single-account-page' account.slug %}" class="btn btn-outline-success py-1"></a>

                <button class="btn btn-outline-info py-1" type="button" data-bs-toggle="collapse" data-bs-target="#{{account.slug}}_collapse" aria-expanded="true" ></button>
  
          </div>
        </div>
        
      </div>
      <div class="collapse show" id="{{account.slug}}_collapse">
        <div class="card-body">
          <h5 class="card-title">{{ account.name }} </h5>
          <p class="card-text">{{ account.amount }} {{ account.curency.abbreviation }}</p>
          <a href="{% url 'single-account-page' account.slug %}"  class="btn btn-outline-success">Go</a>
        </div>
      </div>
      
    </div>
</div>
</div>