<div class="card">
    <div class="card-header">
        <div class="row justify-content-between">
        <div class="col-8 d-flex flex-row"><p class="me-2">Graph</p>
            <form class="graph_collapse collapse collapse-horizontal {% if graph_collapse %}show{% endif %}" action="{% url 'single-account-page' account.slug %}" method="POST">
                {% csrf_token %}
                <input type="hidden" value="{{ graph_collapse }}" name="graph_collapse">
                <button class="btn btn{% if graph_collapse == False %}-outline{% endif %}-warning py-1" type="submit"  ></button>
              </form>

        </div>
        <div class="col-4 text-end">
                <button class="btn btn-outline-info py-1" type="button" data-bs-toggle="collapse" data-bs-target=".graph_collapse" aria-expanded="true" ></button>
        </div>
        </div>
        
    </div>
    <div class="graph_collapse collapse {% if graph_collapse %}show{% endif %}" >
        <div class="card-body">
        <canvas id="myChart"></canvas>
        </div>
    </div>
</div>